@sidebar-width: 16.5em;
@header-height: 3em;

body {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: left;
    overflow: hidden;
    line-height: 1.5;
    margin: 0;
    
    > section.wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

article {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    overflow: hidden;
    
    & > section {
        position: absolute;
        top: 0;
        left: @sidebar-width;
        right: 0;
        bottom: 0;
        z-index: 2;
    }
}

article > aside {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: @sidebar-width;
    max-width: @sidebar-width;
    padding: 0;
    z-index: 1;

     & > nav {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: @sidebar-width;
        max-width: @sidebar-width;
        padding: 0;
        margin: 0;

        > div {
            > div {
                > header {
                    width: @sidebar-width;
                    height: @header-height;

                    > div {
                        > a.logo {
                            position: relative;
                            top: 0;
                            left: 0;
                            display: block;
                            width: @sidebar-width;
                            height: @header-height;
                            margin: 0;
                            padding: 0;

                            > img {
                                display: block;
                                border: 0 none;
                                height: 2rem;
                                max-height: 2rem;
                                max-width: 15rem;
                                padding: 0.5rem 0 0 0.75rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
