@sidebar-width: 16.5em;
@header-height: 3em;
@toolbar-height: 3em;

.originFixed (@top: 0, @left: 0) {
    position: absolute;
    top: @top;
    left: @left;
    right: 0;
    bottom: 0;
}

html {
    position: fixed;
    width: 100%;
    height: 100%;
}

body {
    .originFixed;
    overflow: hidden;

    > section.wrapper {
        .originFixed;
    }
}

.scrollcontainer {
    overflow: hidden;

    > .scrollcontainer {
        height: 100%;

        > .wrapper {
            xmin-height: 100%;
        }
    }
}

.vscroll {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.vscroll-scroll {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.hscroll {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    & > .wrapper {
        display: inline-block;
        min-width: 100%;
    }
}

article {
    .originFixed;
    z-index: 2;
    overflow: hidden;
}

section.wrapper > header {
    .originFixed;
    z-index: 4;
    height: @header-height;
    float: left;
    width: 100%;

    > h1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    > nav {
        position: relative;
        width: 100%;

        > ul {
            height: @header-height;

            > li {
                line-height: @header-height;
                height: @header-height;

                &.menuToggle {
                    display: none;
                    position: absolute;
                    z-index: 2;
                    min-width: 5em;
                }

                > a {
                    line-height: @header-height;
                }
            }

            > li.logo > a {
                position: relative;
                top: 0;
                left: 0;
                display: block;
                width: @sidebar-width;
                height: @header-height;
                z-index: 1;

                > img {
                    border: 0 none;
                    height: 2rem;
                    max-height: 2rem;
                    max-width: 15rem;
                    padding: 0.5rem 0 0 0.3rem;
                }
            }
        }
    }
}

article > aside {
    .originFixed(@top: @header-height);
    width: @sidebar-width;
    max-width: @sidebar-width;
    z-index: 2;
    background-color: white;

    & > nav {
        .originFixed;
        width: @sidebar-width;
        max-width: @sidebar-width;
    }
}

article > section {
    .originFixed(@top: @header-height, @left: @sidebar-width);
    z-index: 1;

    > section.content {
        .originFixed(@top: @toolbar-height);
    }

    > section.content > div {
        display: block;
        visibility: visible;
        opacity: 1;
    }
}

article nav.toolbar {
    position: relative;
    min-height: @toolbar-height;

    > ul {
        position: relative;
        min-height: @toolbar-height;

        > li {
            display: inline-block;
        }
    }
}
