@sidebar-width: 16.5em;
@animation-speed: 0.3s;

.animate {
    -webkit-transition: all @animation-speed ease-in-out;
    -moz-transition: all @animation-speed ease-in-out;
    -o-transition: all @animation-speed ease-in-out;
    transition: all @animation-speed ease-in-out;
}

article > section > section.content {
    .animate;

    &.offRight {
        -webkit-transform: translate3d(100%,0,0);
        -moz-transform: translate3d(100%,0,0);
        -ms-transform: translate3d(100%,0,0);
        -o-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0);
    }

    &.offLeft {
        -webkit-transform: translate3d(-100%,0,0);
        -moz-transform: translate3d(-100%,0,0);
        -ms-transform: translate3d(-100%,0,0);
        -o-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0);
    }
}

@media only screen and (min-width: 801px) {
    body:not(.guest) > section.wrapper > article {
        .animate;
    }
}

@media only screen and (max-width: 800px) {
    body > section.wrapper {
        > header > nav > ul > li.menuToggle {
            display: block;
            left: -1.2em;
            .animate;
        }

        > article {
            left: -@sidebar-width;
            margin-left: -1px;
            .animate;
        }
    }

    body.sidebar > section.wrapper > header > nav > ul > li.menuToggle
    {
        left: -1.5em;
    }

    body.sidebar > section.wrapper > article {
        -webkit-transform: translateX(@sidebar-width);
        -ms-transform: translateX(@sidebar-width);
        -moz-transform: translateX(@sidebar-width);
        -o-transform: translateX(@sidebar-width);
        transform: translateX(@sidebar-width);
    }

    body:not(.sidebar) > section.wrapper > article {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}
