@font-face {
  font-family: 'OpenSans';
  src: url('fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot');
  src: url('fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot?iefix') format('eot'), url('fonts/opensans_regular_macroman/OpenSans-Regular-webfont.woff') format('woff'), url('fonts/opensans_regular_macroman/OpenSans-Regular-webfont.ttf') format('truetype'), url('fonts/opensans_regular_macroman/OpenSans-Regular-webfont.svg#webfont') format('svg');
}
.rounded {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
body {
  font-family: "OpenSans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  color: #666666;
  text-align: left;
  line-height: 1.5;
  margin: 0;
}
a {
  color: #56c2f0;
  font-weight: 350;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
p {
  line-height: 1.5rem;
  padding: 0;
  margin: 0 0 0.5rem 0;
}
h1,
h2,
h3 {
  font-family: "OpenSans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-size: 1.125em;
  margin: 0em 0 0.375em 0;
  padding: 0;
  color: #666666;
  display: block;
}
a:hover {
  color: #00b1ee;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  margin: 0;
  empty-cells: show;
  table-layout: auto;
}
table.agenda > tbody > tr:not(.session) {
  cursor: auto;
  color: #999999;
}
table.accommodation > tbody > tr > td {
  display: block;
  float: left;
}
table.accommodation > tbody > tr > td > img {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
table > tbody > tr {
  border-bottom: 1px solid #f2f2f2;
  cursor: pointer;
}
table > tbody > tr > td {
  vertical-align: top;
  padding: 0.5em 0.5em 0.5em 0.5em;
  overflow: hidden;
  min-height: 3rem;
}
table > tbody > tr > td > h2 {
  font-weight: 400;
  color: #222;
}
div.popup {
  background: #ffffff;
  font-weight: 300;
  backface-visibility: hidden;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  margin: -1px 0 0 0;
  text-indent: 0;
  padding: 0;
}
div.popup > ul {
  list-style-type: none;
  text-indent: 0;
  padding: 0;
  margin: 0;
}
div.popup > ul > li {
  width: 100%;
  text-indent: 0;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  display: block;
  cursor: default;
  border: 0 none;
  float: none;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
div.popup > ul > li:not(:first-child) {
  border-top: 1px dotted #f2f2f2;
}
div.popup > ul > li > a {
  font-size: 1.125rem;
  display: block;
  text-decoration: none;
  color: #666666;
  padding: 0 0.75rem 0 0.75rem;
  line-height: 2.75rem;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
body > header {
  background: #56c2f0;
  box-shadow: rgba(0, 0, 0, 0.4) 0 1px 0.25rem;
  clip: rect(auto, auto, 3.375em, auto);
}
body > header > h1 {
  font-size: 1.5em;
  line-height: 2em;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
}
body > header > ul {
  float: left;
  color: #ffffff;
  margin: 0;
  padding: 0;
  list-style-type: none;
  white-space: nowrap;
}
body > header > ul.headerIcons {
  float: right;
}
body > header > ul > li {
  position: relative;
  float: left;
  margin: 0;
  white-space: nowrap;
  text-align: left;
  color: #ffffff;
  outline: none;
  padding: 0;
  font-weight: 400;
  font-size: 1em;
}
body > header > ul > li > h2 {
  color: #ffffff;
  font-weight: 400;
}
body > header > ul > li > a {
  display: block;
  float: left;
  padding: 0 0.75em 0 0.75em;
  color: #ffffff;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
}
body > header > ul > li > a:visited {
  color: #ffffff;
}
body > header > ul > li > a > i {
  margin: 0;
  padding: 0;
}
body > header > ul > li > a > i + span {
  padding-left: 0.5em;
}
body > header > ul > li > a:hover {
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}
body > header > ul > li.active {
  color: #607d8b;
  cursor: pointer;
  background: #a8e5ff;
}
body > nav {
  background-color: #f2f2f2;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 0 0.125rem;
  padding: 0;
  margin: 0;
}
body > nav > div > div > ul {
  list-style-type: none;
  text-indent: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}
body > nav > div > div > ul > li {
  color: #666666;
  text-indent: 0;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  position: relative;
}
body > nav > div > div > ul > li img {
  vertical-align: middle;
}
body > nav > div > div > ul > li > a {
  position: relative;
  z-index: 2;
}
body > nav > div > div > ul > li > a > h2 {
  font-size: 1em;
  font-weight: 400;
  vertical-align: middle;
  color: #666666;
  line-height: 3em;
  margin: 0;
  padding: 0 0.75em 0 0.75em;
  text-transform: capitalize;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
body > nav > div > div > ul > li > a > h2 > span {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
body > nav > div > div > ul > li > a > h2 > i.fa {
  float: left;
  outline: none;
  line-height: 3rem;
  font-size: 1.1875rem;
  width: 1.5rem;
}
body > nav > div > div > ul > li > div {
  overflow: hidden;
  /*height: 0;*/
  height: auto;
}
body > nav > div > div > ul > li > div > ul {
  list-style-type: none;
  text-indent: 0;
  margin: 0;
  padding: 0;
}
body > nav > div > div > ul > li > div > ul > li {
  font-size: 0.875em;
  line-height: 2rem;
  text-indent: 0;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  color: #666666;
  position: relative;
}
body > nav > div > div > ul > li > div > ul > li > a {
  display: block;
  margin: 0;
  padding: 0 0.75rem 0 1.5rem;
  color: #666666;
  outline: none;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
body > nav > div > div > ul > li > div > ul > li > a > i.fa {
  float: left;
  outline: none;
  line-height: 2rem;
  width: 1.25rem;
  max-width: 1.25rem;
}
body > nav > div > div > ul > li > div > ul > li > a:hover {
  color: #999999;
}
body > nav > div > div > ul > li > div > ul > li.active > a {
  color: #ffffff;
}
body > nav > div > div > ul > li.active > div {
  overflow: hidden;
  height: auto;
}
body > nav > div > div > ul > li.active > div > ul > li.active {
  background-color: #00b1ee;
  color: #ffffff;
}
body > nav > div > div > ul > li.active > div > ul > li.active > a {
  color: #ffffff;
}
body > nav > div > div > ul > li.active > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #008dbd;
}
body > nav > div > div > ul > li.active > a > h2 {
  color: #ffffff;
  text-decoration: none;
  background-color: #008dbd;
}
body > nav > div > div > ul > li.active > a > h2 > i[data-icon="add"] {
  background-image: url('../images/plus_white.svg');
}
body > main {
  background: #ffffff;
}
body > main section.presentation > div {
  padding: .75rem .75rem 0 .75rem;
}
body > main section > header > h2 {
  background: #fff;
  display: block;
  width: 100%;
  line-height: 2.9375rem;
  border-bottom: 1px solid #b2b2b2;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
body > main section > header > h2 > i.fa {
  position: relative;
  top: 0.0625rem;
  left: .5625rem;
  font-weight: 300;
  font-size: 1.5rem;
}
body > main section > header > h2 > span {
  padding: 0 3.75rem 0 1rem;
  font-weight: 400;
  font-size: 1.125rem;
  text-indent: 0;
}
body > main > aside.propertySheet {
  -webkit-box-shadow: -1px 0 0.25rem rgba(0, 0, 0, 0.4);
  box-shadow: -1px 0 0.25rem rgba(0, 0, 0, 0.4);
}
body > main > aside.propertySheet > section.content {
  background: #ffffff;
}
body > main > article > nav.toolbar > header {
  padding: 0 0.1em 0 1em;
  line-height: 3em;
}
body > main > article > nav.toolbar > ul {
  list-style-type: none;
  padding: 0 1em 0 0.7em;
  background: #f2f2f2;
  margin: 0;
}
body > main > article > nav.toolbar > ul::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  content: ' ';
  height: 1px;
  border-bottom: 1px solid #b2b2b2;
}
body > main > article > nav.toolbar > ul > li {
  padding: 0;
  line-height: 2.25em;
  text-indent: 0;
  margin: 0;
  min-height: 3em;
  overflow: hidden;
}
body > main > article > nav.toolbar > ul > li > .highlight {
  visibility: hidden;
  position: relative;
  top: 2.70em;
  height: 1px;
  border-bottom: 5px solid #008dbd;
}
body > main > article > nav.toolbar > ul > li.active > .highlight {
  visibility: visible;
}
body > main > article > nav.toolbar > ul > li.active > a {
  color: #666666;
}
body > main > article > nav.toolbar > ul > li > a {
  font-weight: 400;
  font-size: 0.875em;
  text-decoration: none;
  color: #999999;
  cursor: pointer;
  text-transform: capitalize;
  white-space: nowrap;
  padding: 0 0.5em 0 0.5em;
}
body > main > article > nav.toolbar > ul > li > a > i {
  font-weight: 300;
  padding-right: 0.28571429;
}
body > main > article > nav.toolbar > ul > li > a:hover {
  color: #b3b3b3;
}
